* {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    padding: 20px;
    text-align: center;
    color: #f87171;
}

h3 {
    color:#f87171;
    text-align: center;
    padding: 20px;
}

#gameboard {
    width: 480px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 10px;
}

.gamecells {
    background-color: pink;
    width: 150px;
    height: 150px;
}

.hideThis {
    display: none;
}

.displayControls {
    padding: 30px;
    display: grid;
    background-color: #f87171;
    gap: 10px;
}

button {
    margin-top: 20px;
    padding: 20px;
}

.x {
    background-color: white;
    background-image: url(svg/cross.svg);
    background-size: contain;
}

.o {
    background-color: white;
    background-image: url(svg/circle.svg);
    background-size: contain;
}


.winner {
    font-size: 36px;
    text-align: center;
    background-color: #fde047;
    margin: 10px 0 10px 0;
    font-weight: bolder;
}